# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.app

# Vim 
*~
*.swp
*.swo

# Python
__pycache__
*.py[cod]
*$py.class

# Build system specific
.sconsign.dblite
run-scripts/configs
run-scripts/output
simulator/bin
